.autoShowPartner{
    animation: text-appearr both;
    animation-timeline: view(); 
    animation-range: entry 50% cover 40vh; 
}

@keyframes text-appearr {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
